
__pycache__/
*.pyc
*.pyo
*.pyd


venv/
env/
ENV/


saved_model/
*.bin
*.pt
*.pth
*.safetensors


.cache/
huggingface/


train.csv
test.csv
*.csv

*.log


.DS_Store
Thumbs.db


.ipynb_checkpoints/


.vscode/
.idea/

*.tmp
*.bak

instance/